body {
    background-color: rgb(12, 12, 12);
}

header {
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'Tektur', cursive;
    color: greenyellow;
}

img {
    width: 200px;
    margin-top: 20px;
    margin-right: auto;
}

#container {
    width: 100%;
}

div {
    text-align: center;
    margin: 10px;
    border-radius: 20px;
}

.box {
    display: block;
    float: left;
    margin: 10px 20px;
    width: 280px;
    height: 720px;
    border: solid greenyellow 3px;
}

li {
    color: greenyellow;
}

iframe {
    margin-top: 20px;
    margin-right: auto;
    margin-left: -25px;
    width: 250px;
    display:grid
}
